<a href="https://colab.research.google.com/github/YaminMahdi/All-.ipynb/blob/master/LAB2_Task_by_193_15_1071.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:6 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:9 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [91.7 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,396 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,131 kB]
Hit:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,172 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,965 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,099 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,540 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,076 kB]
Get:22 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.2 kB]
Fetched 13.8 MB in 4s (3,091 kB/s)
Reading package lists... Done

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("Spark").getOrCreate()
spark

In [ ]:
!wget https://raw.githubusercontent.com/YaminMahdi/All-.ipynb/master/results.csv
!wget https://raw.githubusercontent.com/YaminMahdi/All-.ipynb/master/pokemon.csv
!wget https://raw.githubusercontent.com/YaminMahdi/All-.ipynb/master/Literacy.csv

In [5]:
d1 = spark.read.csv('results.csv', header=True, sep=",", inferSchema=True)
d2 = spark.read.csv('pokemon.csv', header=True, sep=",", inferSchema=True)
d3 = spark.read.csv('Literacy.csv', header=True, sep=",", inferSchema=True)

d1.show(2)
d2.show(2)
d3.show(2)

+----------+---------+---------+----------+----------+----------+-------+--------+-------+
|      date|home_team|away_team|home_score|away_score|tournament|   city| country|neutral|
+----------+---------+---------+----------+----------+----------+-------+--------+-------+
|1872-11-30| Scotland|  England|         0|         0|  Friendly|Glasgow|Scotland|  false|
|1873-03-08|  England| Scotland|         4|         2|  Friendly| London| England|  false|
+----------+---------+---------+----------+----------+----------+-------+--------+-------+
only showing top 2 rows

+---+--------------+---------+-----------+------------------------+----------+----------------+------------+-----------+------------+-----------+------+------+--------+---------+----------------+---------+---------+--------------+------------+----+------+-------+---------+----------+-----+----------+---------------+---------------+-----------+---------------+----------+----------+---------------+----------+--------------+------------+-------------+----------------+-------------+-----------+-------------+--------------+--------------+--------------+---------------+-----------+------------+-------------+--------------+------------+-------------+-------------+
|_c0|pokedex_number|     name|german_name|           japanese_name|generation|is_sub_legendary|is_legendary|is_mythical|     species|type_number|type_1|type_2|height_m|weight_kg|abilities_number|ability_1|ability_2|ability_hidden|total_points|  hp|attack|defense|sp_attack|sp_defense|speed|catch_rate|base_friendship|base_experience|growth_rate|egg_type_number|egg_type_1|egg_type_2|percentage_male|egg_cycles|against_normal|against_fire|against_water|against_electric|against_grass|against_ice|against_fight|against_poison|against_ground|against_flying|against_psychic|against_bug|against_rock|against_ghost|against_dragon|against_dark|against_steel|against_fairy|
+---+--------------+---------+-----------+------------------------+----------+----------------+------------+-----------+------------+-----------+------+------+--------+---------+----------------+---------+---------+--------------+------------+----+------+-------+---------+----------+-----+----------+---------------+---------------+-----------+---------------+----------+----------+---------------+----------+--------------+------------+-------------+----------------+-------------+-----------+-------------+--------------+--------------+--------------+---------------+-----------+------------+-------------+--------------+------------+-------------+-------------+
|  0|             1|Bulbasaur|    Bisasam|フシギダネ (Fushigidane)|         1|               0|           0|          0|Seed Pokémon|          2| Grass|Poison|     0.7|      6.9|               2| Overgrow|     null|   Chlorophyll|       318.0|45.0|  49.0|   49.0|     65.0|      65.0| 45.0|      45.0|           70.0|           64.0|Medium Slow|              2|     Grass|   Monster|           87.5|      20.0|           1.0|         2.0|          0.5|             0.5|         0.25|        2.0|          0.5|           1.0|           1.0|           2.0|            2.0|        1.0|         1.0|          1.0|           1.0|         1.0|          1.0|          0.5|
|  1|             2|  Ivysaur|  Bisaknosp| フシギソウ (Fushigisou)|         1|               0|           0|          0|Seed Pokémon|          2| Grass|Poison|     1.0|     13.0|               2| Overgrow|     null|   Chlorophyll|       405.0|60.0|  62.0|   63.0|     80.0|      80.0| 60.0|      45.0|           70.0|          142.0|Medium Slow|              2|     Grass|   Monster|           87.5|      20.0|           1.0|         2.0|          0.5|             0.5|         0.25|        2.0|          0.5|           1.0|           1.0|           2.0|            2.0|        1.0|         1.0|          1.0|           1.0|         1.0|          1.0|          0.5|
+---+--------------+---------+-----------+------------------------+----------+----------------+------------+-----------+------------+-----------+------+------+--------+---------+----------------+---------+---------+--------------+------------+----+------+-------+---------+----------+-----+----------+---------------+---------------+-----------+---------------+----------+----------+---------------+----------+--------------+------------+-------------+----------------+-------------+-----------+-------------+--------------+--------------+--------------+---------------+-----------+------------+-------------+--------------+------------+-------------+-------------+
only showing top 2 rows

+---+--------------------+------------+--------+
|_c0|            District|       State|Literacy|
+---+--------------------+------------+--------+
|  1|               Thane| Maharashtra|   84.53|
|  2| North Twenty Fou...| West Bengal|   84.06|
+---+--------------------+------------+--------+
only showing top 2 rows

## Calculate Age Function

In [10]:
from pyspark.sql.functions import lit, to_date, current_date, datediff

def cal_age(date):
  age = datediff(current_date(), to_date(date)) 
  return age/365

In [7]:
d1.select(d1.date, cal_age(d1.date).alias("age (years)")).show(5)

+----------+------------------+
|      date|       age (years)|
+----------+------------------+
|1872-11-30|149.87123287671233|
|1873-03-08| 149.6027397260274|
|1874-03-07| 148.6054794520548|
|1875-03-06|147.60821917808218|
|1876-03-04| 146.6109589041096|
+----------+------------------+
only showing top 5 rows

## DataSet Join

In [8]:
print("cross join")
d3.join(d2, d3._c0 == d2._c0, "cross").select(d2["_c0"],d3["State"],d2["species"]).show(3)

print("outer join")
d3.join(d2, d3._c0 == d2._c0, "outer").select(d2["_c0"],d3["State"],d2["japanese_name"]).show(3)

print("full join")
d3.join(d2, d3._c0 == d2._c0, "full").select(d2["_c0"],d3["District"],d2["german_name"]).show(3)

print("left join")
d3.join(d2, d3._c0 == d2._c0, "left").select(d2["_c0"],d3["Literacy"],d2["ability_hidden"]).show(3)

print("right join")
d3.join(d2, d3._c0 == d2._c0, "right").select(d2["_c0"],d3["Literacy"],d2["defense"]).show(3)


# cross, outer, full, fullouter, full_outer, left, leftouter, left_outer, right, rightouter, right_outer, semi, leftsemi, left_semi, anti, leftanti and left_anti.

cross join
+---+------------+------------+
|_c0|       State|     species|
+---+------------+------------+
|  1| Maharashtra|Seed Pokémon|
|  2| West Bengal|Seed Pokémon|
|  3|   Karnataka|Seed Pokémon|
+---+------------+------------+
only showing top 3 rows

outer join
+---+------------------+----------------------+
|_c0|             State|         japanese_name|
+---+------------------+----------------------+
|148|     Uttar Pradesh|     ガルーラ (Garura)|
|463|           Haryana|   デオキシス (Deoxys)|
|471| Jammu and Kashmir|ポッタイシ (Pottaishi)|
+---+------------------+----------------------+
only showing top 3 rows

full join
+---+-------------+-----------+
|_c0|     District|german_name|
+---+-------------+-----------+
|148|  Maharajganj|    Kangama|
|463| Mahendragarh|     Deoxys|
|471|      Kupwara|    Pliprin|
+---+-------------+-----------+
only showing top 3 rows

left join
+---+--------+--------------+
|_c0|Literacy|ability_hidden|
+---+--------+--------------+
|  1|   84.53|   Chlorophyll|
|  2|   84.06|   Chlorophyll|
|  3|   87.67|          null|
+---+--------+--------------+
only showing top 3 rows

right join
+---+--------+-------+
|_c0|Literacy|defense|
+---+--------+-------+
|  0|    null|   49.0|
|  1|   84.53|   63.0|
|  2|   84.06|   83.0|
+---+--------+-------+
only showing top 3 rows

In [9]:
watch_name =spark.createDataFrame([[1, "A"," Rolex",1899,1944],[2, "f"," Rolex",2899,1924],[3, "g"," Rolex",1599,1990],[4, "z"," Rolex",7899,2001],[5, "h"," Rolex",799,1844],[6, "r"," Rolex",1899,1944],[7, "u"," Rolex",2899,1924],[8, "i"," Rolex",1599,1990],[9, "o"," Rolex",7899,2001],[10, "p"," Rolex",799,1844]], ["id", "name","brand","price","established"])
watch_pop =spark.createDataFrame([[1, "95%"],[2, "75%"],[3, "80%"],[4, "90%",],[5, "90%",],[6, "65%"],[7, "75%"],[8, "85%"],[9, "94%",],[10, "50%",]], ["id", "Popularity"])
watch_name.show()
watch_pop.show()
watch_name.join(watch_pop, watch_name.id == watch_pop.id, "inner").select(watch_name["id"],watch_name["name"],watch_pop["Popularity"]).show()
watch_name.join(watch_pop, watch_name.id == watch_pop.id, "outer").select(watch_name["id"],watch_name["name"],watch_pop["Popularity"]).show()
watch_name.join(watch_pop, watch_name.id == watch_pop.id, "cross").select(watch_name["id"],watch_name["name"],watch_pop["Popularity"]).show()
watch_name.join(watch_pop, watch_name.id == watch_pop.id, "full_outer").select(watch_name["id"],watch_name["name"],watch_pop["Popularity"]).show()
watch_name.join(watch_pop, watch_name.id == watch_pop.id, "full").select(watch_name["id"],watch_name["name"],watch_pop["Popularity"]).show()

+---+----+------+-----+-----------+
| id|name| brand|price|established|
+---+----+------+-----+-----------+
|  1|   A| Rolex| 1899|       1944|
|  2|   f| Rolex| 2899|       1924|
|  3|   g| Rolex| 1599|       1990|
|  4|   z| Rolex| 7899|       2001|
|  5|   h| Rolex|  799|       1844|
|  6|   r| Rolex| 1899|       1944|
|  7|   u| Rolex| 2899|       1924|
|  8|   i| Rolex| 1599|       1990|
|  9|   o| Rolex| 7899|       2001|
| 10|   p| Rolex|  799|       1844|
+---+----+------+-----+-----------+

+---+----------+
| id|Popularity|
+---+----------+
|  1|       95%|
|  2|       75%|
|  3|       80%|
|  4|       90%|
|  5|       90%|
|  6|       65%|
|  7|       75%|
|  8|       85%|
|  9|       94%|
| 10|       50%|
+---+----------+

+---+----+----------+
| id|name|Popularity|
+---+----+----------+
|  7|   u|       75%|
|  6|   r|       65%|
|  9|   o|       94%|
|  5|   h|       90%|
|  1|   A|       95%|
| 10|   p|       50%|
|  3|   g|       80%|
|  8|   i|       85%|
|  2|   f|       75%|
|  4|   z|       90%|
+---+----+----------+

+---+----+----------+
| id|name|Popularity|
+---+----+----------+
|  7|   u|       75%|
|  6|   r|       65%|
|  9|   o|       94%|
|  5|   h|       90%|
|  1|   A|       95%|
| 10|   p|       50%|
|  3|   g|       80%|
|  8|   i|       85%|
|  2|   f|       75%|
|  4|   z|       90%|
+---+----+----------+

+---+----+----------+
| id|name|Popularity|
+---+----+----------+
|  7|   u|       75%|
|  6|   r|       65%|
|  9|   o|       94%|
|  5|   h|       90%|
|  1|   A|       95%|
| 10|   p|       50%|
|  3|   g|       80%|
|  8|   i|       85%|
|  2|   f|       75%|
|  4|   z|       90%|
+---+----+----------+

+---+----+----------+
| id|name|Popularity|
+---+----+----------+
|  7|   u|       75%|
|  6|   r|       65%|
|  9|   o|       94%|
|  5|   h|       90%|
|  1|   A|       95%|
| 10|   p|       50%|
|  3|   g|       80%|
|  8|   i|       85%|
|  2|   f|       75%|
|  4|   z|       90%|
+---+----+----------+

+---+----+----------+
| id|name|Popularity|
+---+----+----------+
|  7|   u|       75%|
|  6|   r|       65%|
|  9|   o|       94%|
|  5|   h|       90%|
|  1|   A|       95%|
| 10|   p|       50%|
|  3|   g|       80%|
|  8|   i|       85%|
|  2|   f|       75%|
|  4|   z|       90%|
+---+----+----------+