<a href="https://colab.research.google.com/github/YaminMahdi/All-.ipynb/blob/master/LAB2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Get:2 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:3 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [91.7 kB]
Get:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,099 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,540 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,396 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,965 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,131 kB]
Get:20 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,076 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,172 kB]
Get:22 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.2 kB]
Fetched 13.8 MB in 4s (3,817 kB/s)
Reading package lists... Done

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").appName("Spark").getOrCreate()
spark

In [4]:
from pyspark.sql import functions
print(dir(functions))

['Column', 'DataFrame', 'DataType', 'PandasUDFType', 'PythonEvalType', 'SparkContext', 'StringType', 'UserDefinedFunction', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_create_column_from_literal', '_create_lambda', '_create_udf', '_get_get_jvm_function', '_get_lambda_parameters', '_invoke_binary_math_function', '_invoke_function', '_invoke_function_over_column', '_invoke_higher_order_function', '_options_to_str', '_test', '_to_java_column', '_to_seq', '_unresolved_named_lambda_variable', 'abs', 'acos', 'acosh', 'add_months', 'aggregate', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_contains', 'array_distinct', 'array_except', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_remove', 'array_repeat', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'asinh', 'assert_true', 'atan', 'atan2', 'atanh', 'avg', 'base64', 'bin', 'bitwiseNOT', 'broadcast', 'bround', 'bucket', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'count', 'countDistinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'days', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'element_at', 'encode', 'exists', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'filter', 'first', 'flatten', 'floor', 'forall', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'hash', 'hex', 'hour', 'hours', 'hypot', 'initcap', 'input_file_name', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'map_concat', 'map_entries', 'map_filter', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'map_zip_with', 'max', 'md5', 'mean', 'min', 'minute', 'monotonically_increasing_id', 'month', 'months', 'months_between', 'nanvl', 'next_day', 'nth_value', 'ntile', 'overlay', 'pandas_udf', 'percent_rank', 'percentile_approx', 'posexplode', 'posexplode_outer', 'pow', 'quarter', 'radians', 'raise_error', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'second', 'sequence', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shuffle', 'signum', 'sin', 'since', 'sinh', 'size', 'skewness', 'slice', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sys', 'tan', 'tanh', 'timestamp_seconds', 'toDegrees', 'toRadians', 'to_csv', 'to_date', 'to_json', 'to_str', 'to_timestamp', 'to_utc_timestamp', 'transform', 'transform_keys', 'transform_values', 'translate', 'trim', 'trunc', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'xxhash64', 'year', 'years', 'zip_with']

In [13]:
from pyspark.sql.functions import lit,lower, upper,concat,substring
!wget https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv


df = spark.read.csv('cars.csv', header=True, sep=";", inferSchema=True)
df.show(10)

--2022-09-08 06:29:49--  https://jacobceles.github.io/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobceles.github.io (jacobceles.github.io)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobceles.github.io (jacobceles.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv [following]
--2022-09-08 06:29:49--  https://jacobcelestine.com/knowledge_repo/colab_and_pyspark/cars.csv
Resolving jacobcelestine.com (jacobcelestine.com)... 185.199.108.153, 185.199.109.153, 185.199.110.153, ...
Connecting to jacobcelestine.com (jacobcelestine.com)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22608 (22K) [text/csv]
Saving to: ‘cars.csv.4’

cars.csv.4          100%[===================>]  22.08K  --.-KB/s    in 0.002s

2022-09-08 06:29:49 (9.25 MB/s) - ‘cars.csv.4’ saved [22608/22608]

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 10 rows

In [14]:
df.select(df.Car, lower(df.Car), upper(df.Car), substring(df.Car,1,4)).show()

+--------------------+--------------------+--------------------+--------------------+
|                 Car|          lower(Car)|          upper(Car)|substring(Car, 1, 4)|
+--------------------+--------------------+--------------------+--------------------+
|Chevrolet Chevell...|chevrolet chevell...|CHEVROLET CHEVELL...|                Chev|
|   Buick Skylark 320|   buick skylark 320|   BUICK SKYLARK 320|                Buic|
|  Plymouth Satellite|  plymouth satellite|  PLYMOUTH SATELLITE|                Plym|
|       AMC Rebel SST|       amc rebel sst|       AMC REBEL SST|                AMC |
|         Ford Torino|         ford torino|         FORD TORINO|                Ford|
|    Ford Galaxie 500|    ford galaxie 500|    FORD GALAXIE 500|                Ford|
|    Chevrolet Impala|    chevrolet impala|    CHEVROLET IMPALA|                Chev|
|   Plymouth Fury iii|   plymouth fury iii|   PLYMOUTH FURY III|                Plym|
|    Pontiac Catalina|    pontiac catalina|    PONTIAC CATALINA|                Pont|
|  AMC Ambassador DPL|  amc ambassador dpl|  AMC AMBASSADOR DPL|                AMC |
|Citroen DS-21 Pallas|citroen ds-21 pallas|CITROEN DS-21 PALLAS|                Citr|
|Chevrolet Chevell...|chevrolet chevell...|CHEVROLET CHEVELL...|                Chev|
|    Ford Torino (sw)|    ford torino (sw)|    FORD TORINO (SW)|                Ford|
|Plymouth Satellit...|plymouth satellit...|PLYMOUTH SATELLIT...|                Plym|
|  AMC Rebel SST (sw)|  amc rebel sst (sw)|  AMC REBEL SST (SW)|                AMC |
| Dodge Challenger SE| dodge challenger se| DODGE CHALLENGER SE|                Dodg|
|  Plymouth 'Cuda 340|  plymouth 'cuda 340|  PLYMOUTH 'CUDA 340|                Plym|
|Ford Mustang Boss...|ford mustang boss...|FORD MUSTANG BOSS...|                Ford|
|Chevrolet Monte C...|chevrolet monte c...|CHEVROLET MONTE C...|                Chev|
|Buick Estate Wago...|buick estate wago...|BUICK ESTATE WAGO...|                Buic|
+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [25]:
df.select(df.Car, df.Model, concat(df.Car,lit(" "), df.Model)).alias("Car Model").show(2, truncate =False)

+-------------------------+-----+----------------------------+
|Car                      |Model|concat(Car,  , Model)       |
+-------------------------+-----+----------------------------+
|Chevrolet Chevelle Malibu|70   |Chevrolet Chevelle Malibu 70|
|Buick Skylark 320        |70   |Buick Skylark 320 70        |
+-------------------------+-----+----------------------------+
only showing top 2 rows

In [21]:
from pyspark.sql.functions import min, max
df.dtypes

df.select(min(df.Weight), max(df.Weight)).show()
df.select(min(df.Weight +lit(10)), max(df.Weight +lit(30))).show()

+-----------+-----------+
|min(Weight)|max(Weight)|
+-----------+-----------+
|       1613|       5140|
+-----------+-----------+

+------------------+------------------+
|min((Weight + 10))|max((Weight + 30))|
+------------------+------------------+
|              1623|              5170|
+------------------+------------------+

In [40]:
def cal_age(date):
  age = date
  return age
  
from pyspark.sql.functions import to_date, to_timestamp
df1 =spark.createDataFrame([("2022-09-08 12:39:69",)], ["DATE"])
df1.show()
df1.printSchema()

df1.select(df1.DATE, to_date(df1.DATE), to_timestamp(df1.DATE)).show()

+-------------------+
|               DATE|
+-------------------+
|2022-09-08 12:39:69|
+-------------------+

root
 |-- DATE: string (nullable = true)

+-------------------+-------------+------------------+
|               DATE|to_date(DATE)|to_timestamp(DATE)|
+-------------------+-------------+------------------+
|2022-09-08 12:39:69|   2022-09-08|              null|
+-------------------+-------------+------------------+

In [75]:
car_name =spark.createDataFrame([[1, "A"],[2, "f"],[3, "g"],[4, "g",]], ["id", "nm"])
car_pric =spark.createDataFrame([[1, "12"],[2, "34"],[3, "54"],[4, "69",]], ["id", "pric"])
car_name.show()
car_pric.show()
car_name.join(car_pric, car_name.id == car_pric.id, "inner").select(car_name["id"],car_name["nm"],car_pric["pric"]).show()

# task
#5 join opearetion (2 ta dataftrame)
#age calculation

+---+---+
| id| nm|
+---+---+
|  1|  A|
|  2|  f|
|  3|  g|
|  4|  g|
+---+---+

+---+----+
| id|pric|
+---+----+
|  1|  12|
|  2|  34|
|  3|  54|
|  4|  69|
+---+----+

+---+---+----+
| id| nm|pric|
+---+---+----+
|  1|  A|  12|
|  3|  g|  54|
|  2|  f|  34|
|  4|  g|  69|
+---+---+----+

In [71]:

df = spark.read.csv('cars.csv', header=True, sep=";", inferSchema=True)
df.show(2)

df.createOrReplaceTempView("tmp")

spark.sql("select * from tmp").show()
spark.sql("select Car, Model, Origin from tmp where Model == 80 and Origin == 'Japan'").show()

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 2 rows

+--------------------+----+---------+------------+----------+------+------------+-----+------+
|                 Car| MPG|Cylinders|Displacement|Horsepower|Weight|Acceleration|Model|Origin|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
|Chevrolet Chevell...|18.0|        8|       307.0|     130.0|  3504|        12.0|   70|    US|
|   Buick Skylark 320|15.0|        8|       350.0|     165.0|  3693|        11.5|   70|    US|
|  Plymouth Satellite|18.0|        8|       318.0|     150.0|  3436|        11.0|   70|    US|
|       AMC Rebel SST|16.0|        8|       304.0|     150.0|  3433|        12.0|   70|    US|
|         Ford Torino|17.0|        8|       302.0|     140.0|  3449|        10.5|   70|    US|
|    Ford Galaxie 500|15.0|        8|       429.0|     198.0|  4341|        10.0|   70|    US|
|    Chevrolet Impala|14.0|        8|       454.0|     220.0|  4354|         9.0|   70|    US|
|   Plymouth Fury iii|14.0|        8|       440.0|     215.0|  4312|         8.5|   70|    US|
|    Pontiac Catalina|14.0|        8|       455.0|     225.0|  4425|        10.0|   70|    US|
|  AMC Ambassador DPL|15.0|        8|       390.0|     190.0|  3850|         8.5|   70|    US|
|Citroen DS-21 Pallas| 0.0|        4|       133.0|     115.0|  3090|        17.5|   70|Europe|
|Chevrolet Chevell...| 0.0|        8|       350.0|     165.0|  4142|        11.5|   70|    US|
|    Ford Torino (sw)| 0.0|        8|       351.0|     153.0|  4034|        11.0|   70|    US|
|Plymouth Satellit...| 0.0|        8|       383.0|     175.0|  4166|        10.5|   70|    US|
|  AMC Rebel SST (sw)| 0.0|        8|       360.0|     175.0|  3850|        11.0|   70|    US|
| Dodge Challenger SE|15.0|        8|       383.0|     170.0|  3563|        10.0|   70|    US|
|  Plymouth 'Cuda 340|14.0|        8|       340.0|     160.0|  3609|         8.0|   70|    US|
|Ford Mustang Boss...| 0.0|        8|       302.0|     140.0|  3353|         8.0|   70|    US|
|Chevrolet Monte C...|15.0|        8|       400.0|     150.0|  3761|         9.5|   70|    US|
|Buick Estate Wago...|14.0|        8|       455.0|     225.0|  3086|        10.0|   70|    US|
+--------------------+----+---------+------------+----------+------+------------+-----+------+
only showing top 20 rows

+--------------------+-----+------+
|                 Car|Model|Origin|
+--------------------+-----+------+
|Toyota Corolla Te...|   80| Japan|
|          Datsun 310|   80| Japan|
|Toyota Corolla Li...|   80| Japan|
|           Mazda 626|   80| Japan|
|Datsun 510 Hatchback|   80| Japan|
|      Toyota Corolla|   80| Japan|
|           Mazda GLC|   80| Japan|
|          Datsun 210|   80| Japan|
| Honda Civic 1500 gl|   80| Japan|
|           Subaru DL|   80| Japan|
|       Datsun 280-ZX|   80| Japan|
|       Mazda RX-7 GS|   80| Japan|
|        Honda Accord|   80| Japan|
+--------------------+-----+------+